<!DOCTYPE html>
<html class="theme-dark">
  <head>
    <title><%= content_for(:title) || "BLOCKBUSTER" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  </head>

  <body>
    <header>
      <!-- Menú de Navegación -->
      <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" style="max-width: 70%; margin: auto; padding: 1rem 0;">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://web.archive.org/web/20080721032605/http://www.blockbuster.cl/">
            <div>
              <%= image_tag 'bb.png', alt: 'Blockbuster', width: '200', height: '300' %>
            </div>
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to "Nueva Película", new_movie_path, class: "button is-light" %>
              <%= link_to "Listado de Películas", movies_path, class: "button is-light" %>
              <%= link_to "Nuevo Cliente", new_client_path, class: "button is-light" %>
              <%= link_to "Listado de Clientes", clients_path, class: "button is-light" %>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- Contenedor principal centrado -->
    <div class="container" style="max-width: 70%; margin: auto; padding-top: 4rem;">
      <% if flash[:notice] %>
        <div class="notification is-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="notification is-danger" role="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %> <!-- Esto cargará el contenido principal -->
    </div>

    <!-- Footer -->
    <footer class="footer has-text-centered">
      <div class="content">
        <%= image_tag 'blockbuster.png', alt: 'Blockbuster', width: '100', height: '50' %>
        <p>
          <strong>SIEMPRE UNA COPIA PARA TI</strong><br>
          Copyright 2007, BLOCKBUSTER® .<br>
          Todos los Derechos Reservados.<br>
          ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
        </p>
      </div>
    </footer>

  </body>
</html>